.card-question {
  padding: 24px;
  text-align: left;
  margin-top: 20px !important;
}
.card-question h5 {
  font-size: 1rem;
}

.options-list {
  background-color: #313131;
  margin-top: 20px !important;
}
@media (min-width: 768px) {
  .card-question h5 {
    font-size: 1.5rem;
  }
}
